@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #E8F0FF;
  --accent: #cca5a6;
  --green: #82caa4;
 
  --purple: #6164c8;
  --beige: #E4E6C3;
  /* --pink: #94778B; */
  --pink: #D40C4D;
  --fairyTale: #FAC3DF;
    /* --fairyTale: #D40C4D; */
  /* --teaGreen: #48A9A6; */
  --teaGreen: #C7D8A0;
  --yellow: #efefbc;
  --accent: #F4592F;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior:smooth;
  font-size: 16px;
}

body {
  font-family: 'Manrope', serif;
  overflow-x: hidden;
  background: var(--white);
}

.section-background {
  background: linear-gradient(180deg, rgb(221, 221, 213) 32%, rgba(135,137,192,1) 100%);
}

.overlay {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 3;
}


.navigationStyle {
/* justify-content:space-between; */
padding: 0 4rem 0 4rem;
background: var(--white);
gap: 2rem;
z-index: 10;
cursor: pointer;
color: var(--white);
}

.navigation.hidden {
  display: none;
}

.relatedProductBlock {
  width: 16rem;
}


.heroImages {
  background-color: linear-gradient(rgba(68, 67, 67, 0.979), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  background-position: center;
  height: 80vh
  
}

.heroBg {
  background-image: linear-gradient( rgba(109, 110, 109, 0.5), rgba(99, 96, 96, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  
}

.shopImage {
  width: 20rem;
  height: auto;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}

.contentBox  {
  width: 320px;
}

.cartImage {
  width: 14rem;
  height: auto;
}
.cartModalImage {
  width: 8rem;
  height: auto;
}



.quoteBg {
background: rgb(166, 223, 208);
background: linear-gradient(167deg, rgb(206, 207, 207) 62%, rgb(124, 151, 133) 100%, rgba(78,79,79,1) 100%);
-webkit-box-shadow: 2px 5px 15px 2px #000000; 
box-shadow: 2px 5px 15px 2px #000000;
}

.experienceBg {
  background: var(--teaGreen);
  overflow: hidden;
}

.navShow {
  display:hidden
}


.nav-link { 
  padding: 0.8rem;
  border-radius: 15px 50px 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.nav-link:hover {
  background-color: var(--accent);
  transition: background-color 0.2s ease-in;
}

.nav-Active{
  background-color: var(--purple);
  padding: 0.8rem;
  border-radius: 15px 50px 30px;
  color: white;
  transition: background-color 0.2s ease-in;
}



.experience-link {
  background-color: var(--accent);
  padding: 0.8rem;
  border-radius: 15px 50px 30px;
 
}

.experience-link:hover {
  background-color: var(--green);

}

.sliderContainer {
  height: 650px;
  position: relative;
  overflow: hidden
}

.calltoaction {
  background-color: var(--fairyTale);  

}


.experienceImage {
  width: 400px;
  height: 400px;
  
  background-color: var(--yellow);  
  padding: 10px;
  border-radius: 10px;
}

.heroText {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-items: center;
 position: relative;
 bottom: 24rem;
}

.experienceBox {
  width: 500px;
  overflow-y: visible;
}

/***Parallax setup**/
.imageParallax1 {
  /* transform: skewY(-10deg); */
  z-index: 0;
  position: relative;
  /* left: 2rem;*/

}

.productDetailFonts {
  font-family: 'Montserrat', sans-serif;
}

.productName {
  font-family: 'Cardo', serif;
}


.imageParallax2 {
  z-index:0;
}


input[type=email] {
  padding: 2px 10px
}

.imageBox {
  width: 200px;
  height: auto;
  padding: 1rem;
}

.productImageBox {
  width: 500px;
  height: auto;
  padding: 1rem;
}

.footer-section {
  background: linear-gradient(180deg, rgba(34,34,36,1) 63%, rgba(19,36,24,1) 99%);
}

.footer-imageBox {
  width: 200px;
  height: auto;
  color: white;
}

.footer-link:hover{
  color: var(--purple)
}

.sideProductImage  {
  width: 6rem;
  height: 7.8rem;
  border-top: 1rem;
  border-radius: 4.5rem;
  display: block;
  position: relative;
  z-index: 0;
  

}

.sideProductImage.active {
  border: 4px solid var(--purple);
 

}

.mainProductImage  {
    width: 30rem;
    height: auto;
    border-radius: 0.5rem;
    display: 'block';
    aspect-ratio: 1/1;
  }
  

.shopCarouselArrow {
    color: var(--yellow);
    opacity: 0.8;
    background-color: var(--accent);
    border-radius: 50%;
    padding: 3px;
}




.sectionText {
  font-size: 80px;
}

.list-style {
  list-style: inside;
}

.image-Style {
  width: 500px;
  height: 500px;
}

.smallImageBlog  {
    width: 40rem;
    height:20rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.aboutImage {
  width: 800px;
  height: auto;
}

.mainTarotBox {
  width: 40rem;
  height: auto;
  object-fit: cover;
}



input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type = number],
input[type=date]{
  padding: 0.5rem;
  border-radius: 4rem;
  background-color: var(--teaGreen);
  color:rgba(0, 0, 0, 0.295)

}

.textInput{
  padding: 0.5rem;
  border-radius: 4rem;
  background-color: var(--teaGreen);
  color:rgba(0, 0, 0, 0.295)
}

.textInput:focus{
  background-color: var(--beige)
}

input::placeholder{
  color:#000000;
}

.searchInput {
  padding: 0.5rem;
  background-color: var(--teaGreen);
  color:rgba(0, 0, 0, 0.295)
}


select {
  padding: 0.4rem;
  border-radius: 4rem;
  background-color: var(--teaGreen)
}

textarea {
  border-radius: 1rem;
  background-color: var(--teaGreen);
  padding: 0.4rem;
  width: 30rem;
}


.formInput:focus {
  background:var(--fairyTale);
  color: black;
}

.formInput{
  width: 22rem;
  color:black;
}

.itemRightArrow {
 color: '#D5BDAF';
}

.itemRightArrow {
    color: '#D5BDAF';
    transform: 'translate(-50%, -50%)';
    position: 'absolute';
    top:'50%';
    right:'8rem';
    cursor:'pointer';

  }

  .loginStyle {
    background:var(--yellow);
  }

/**Media Queries**/
@media screen and (max-width: 323px) {
  .experienceImage {
    height: 283px
  }
}

.loginStyle {
    background:var(--yellow);
    color: hsl(0, 17%, 95%);
}

.sideCart {
  overflow-y: auto;

}


/* Existing styles */

/*... your existing styles here ...*/
/* For mobile */
.positioning-class {
  bottom: 7px;
  left: 90%;
  /* Adjust according to the icon's placement */
  position: absolute;
}

/* For tablet */
@media only screen and (min-width: 768px) {
  .positioning-class {
    left: 90%;
    /* you might want to adjust these as per the design on tablet */

  }
}


@media screen and (max-width: 600px) {
  .heroText {
    padding: 2rem;
    bottom: 24rem;
  }

  .mainTarotBox {
    width: 20rem;
  }


  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type = number],
  input[type = date]{
    width: 18rem;
  }

  textarea {
  width: 20rem;
}

.sideCart {
width: 100%; /* Full width on small screens */
}
.cartModalImage {
  width: 100px;
  height: 100px; /* Smaller images on small screens */
}



}


@media screen and (max-width: 1024px) and (min-width: 800px){
  .heroText {
    bottom: 40rem
  }
}

@media screen and (min-width: 728px) {
.heroText{
    position: relative;
    bottom: 50rem;
  }

  .mainTarotBox {
    width: 30rem;
  }
}


/* Mobile devices */
@media only screen and (max-width: 767px) {
  .loginStyle {
    width: 80%;
    /* take up most of the screen width */
    padding: 2rem 3rem;
    /* reduce padding */
  }

  .formInput {
    width: 20rem;
  }

  .btn.btn-primary {
    width: 100%;
    /* make the button full width for easier tapping */
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .loginStyle {
    width: 80%;
    /* give a bit more margin on the sides */
  }
}