@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Epilogue', sans-serif;
}


.heroBg {
  background-image: linear-gradient( rgba(2, 2, 2, 0.5), rgba(15, 15, 15, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  height: 90vh;
}

.nav-link { 
  padding: 0.8rem;
  border-radius: 15px 50px 30px;
}

.nav-link:hover {
  background-color: #D5BDAF;
  transition: background-color 0.2s ease-in;
  
}