@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #F7F7F2;
  --accent: #cca5a6;
  --green: #82caa4;
  --purple: #8789C0;
  --beige: #E4E6C3;
  --pink: #94778B;
  --fairyTale: #D5B2BB;
  --teaGreen: #C7D8A0;
  --yellow: #efefbc;
}

* {
  margin: 0;
  padding:0;
}

html {
  scroll-behavior:smooth;
}

body {
  font-family: 'Cardo', serif;
  overflow-x: hidden;
  background: #222224;
  background: linear-gradient(180deg, rgba(34,34,36,1) 63%, rgba(19,36,24,1) 99%);
}

.navigationStyle {
display: flex;
flex-direction: row;
gap: 10rem;
z-index: 10;
padding: 2rem;
position: absolute;
cursor: pointer;
color: var(--white);
}

.relatedProductImage {
  width: 480px;
  height: 12.7rem;
  border-radius: 0.5rem;
  
}
.relatedProductBlock {
  width: 16rem;
}


.heroImages {
  background-color: linear-gradient( rgba(68, 67, 67, 0.979), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  background-position: center;
  height: 100vh
  
}

.heroBg {
  background-image: linear-gradient( rgba(109, 110, 109, 0.5), rgba(99, 96, 96, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.quoteBg {
background: rgb(166, 223, 208);
background: linear-gradient(167deg, rgb(206, 207, 207) 62%, rgb(124, 151, 133) 100%, rgba(78,79,79,1) 100%);
-webkit-box-shadow: 2px 5px 15px 2px #000000; 
box-shadow: 2px 5px 15px 2px #000000;
}

.experienceBg {
  background: #efefbc;
  overflow: hidden;
}


.nav-link { 
  padding: 0.8rem;
  border-radius: 15px 50px 30px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--accent);
  transition: background-color 0.2s ease-in;
  
}

.experience-link {
  background-color: var(--accent);
  padding: 0.8rem;
  border-radius: 15px 50px 30px;
 
}

.experience-link:hover {
  background-color: var(--green);

}

.sliderContainer {
  height: 650px;
  position: relative;
  overflow: hidden
}

.calltoaction {
  background-color: #C7D8A0;  

}


.imageSize {
  max-width: 70%;
  max-height: 40%;
}

.imageBox {
  height: 100%;
}

.experienceImage {
  width: 400px;
  height: 400px;
  filter: drop-shadow(6px 5px 4px #000);
  background-color: #C7D8A0;  
  padding: 10px;
  border-radius: 10px;
}


.experienceBox {
  width: 500px;
  overflow-y: visible;
}

/***Parallax setup**/
.imageParallax1 {
  /* transform: skewY(-10deg); */
  z-index: 0;
  position: relative;
  /* left: 2rem;*/

}

.productDetailFonts {
  font-family: 'Montserrat', sans-serif;
}

.productName {
  font-family: 'Cardo', serif;
}


.imageParallax2 {
  z-index:0;
}


input[type=email] {
  padding: 2px 10px
}




.sideProductImage  {
    width: 10rem;
    height: 9.8rem;
    border-radius: 0.5rem;
    display: block;
  }

.mainProductImage  {
    width: 20rem;
    height: 19.7rem;
    border-radius: 0.5rem;
    display: 'block'
  }
  

.shopCarouselArrow {
    color: var(--yellow);
    opacity: 0.8;
    background-color: var(--accent);
    border-radius: 50%;
    padding: 3px;
}


.sectionText {
  font-size: 80px;
}

.list-style {
  list-style: inside;
}

.image-Style {
  width: 500px;
  height: 500px;
}